{{ define "main" }}
<h2 class="post-item post-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
<!-- page info section e.g. current tag & total archive pages -->
<div class="markdown-body">
<article>
<!-- tags page range in posts with current tag -->
{{ $paginator := .Paginator }}
<ul>
{{ range $paginator.Pages }}
<li><font color="616E88">{{ partial "post-date.html" . }}</font> – <a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
{{ end }}
</ul>
</article>
</div>

<!-- custom smart pagination -->
{{- partial "pagination.html" (dict "context" . "pagi" $paginator) -}}

{{ end }}
