.heading {
	display: flex;
	align-items: baseline;
	align-items: center;
}

.heading-icon {
	position: absolute;
	margin-left: -1em;
	opacity: 0;
	@media only screen and (hover: none) and (pointer: coarse) {
		opacity: 1 !important;
	}
}

.heading:hover .heading-icon {
	opacity: 1;
}
