header h1 {
	text-align: center;
}

header a, #rightbar a, #toc a {
	font-family: unset;
}

h1, h2, h3, h4, h5 {
	margin: 0;
}

body {
	font-family: serif;
	background-color: #E1D2AF;
}

a {
	font-family: monospace;
	color: black;
	text-decoration: none;
}

table {
	text-align: left;
}

td, th {
	vertical-align:top;
}

img {
	max-width: 100%;
}

pre {
	overflow: auto;
	padding: 1ch;
	border-radius: 0.5ch;
}

.highlight pre, pre {
	background-color: #D7C8A5 !important;
}

footer {
	text-align: center;
	margin-top: 1em;
}

#list td:nth-child(1) {
	white-space: nowrap;
}

#container {
	margin: auto;
	display: table;
}

#main {
	width: 80ch;
	float: left;
	margin-left: 1em;
}

#leftbar, #rightbar {
	top: 0;
	position: sticky;
	float: left;
}

#leftbar {
	margin-right: 1ch;
	padding-right: 1em;
	width: 1in;
	text-align: right;
}

#rightbar {
	margin-left: 1em;
	padding-left: 1em;
	width: 3in;
}

#links, #toc {
	display: none;
}

#leftbar ul, #leftbar ol, #rightbar ul, #rightbar ol, #toc ul, #toc ol {
	list-style-type: none;
}

#rightbar li, #toc li {
	margin-top: 0.5em;
}

#leftbar ul, #leftbar ol {
	padding-left: 0;
}

#rightbar ul, #rightbar ol, #toc ol {
	padding-left: 0.5em;
}

@media screen and (max-width: calc(81ch + 4in + 4em)) {
	#leftbar {
		display: none;
	}
	#nav {
		margin-bottom: 1em;
	}
	#links {
		display: unset;
	}
}

@media screen and (max-width: calc(81ch + 3in + 3em)) {
	#leftbar, #rightbar {
		display: none;
	}
	#toc {
		display: unset;
	}
	#main {
		float: none;
		width: unset;
		max-width: 80ch;
		margin: auto;
	}
}

@media screen and (max-width: calc(80ch + 1em)) {
	#main {
		margin-left: 1em;
		margin-right: 1em;
	}
}
