/* Booktabs style tables: https://stackoverflow.com/a/68808784 */

table:not(.plain):not(#list) {
	border-collapse: collapse;
	border: 2px solid;
	border-width: 2px 0;
}

table:not(.plain) th, table:not(.plain) td {
	line-height: 1.4;
	padding-right: 12px;
}

table:not(.plain) th:last-child, table:not(.plain) td:last-child {
	padding-right: 0;
}

table:not(.plain):not(#list) th:not(:empty) {
	border-bottom: 1px solid;
	font-weight: 400;
}
