{{ define "main" }}
<div class="markdown-body">
<article>
{{.Content}}
</article>
</div>

{{ if and (or .Site.Params.showLicense .Params.showLicense) (ne .Params.showLicense false) }}
{{ end }}
{{ if and (.Site.Params.disqusJSApi) (ne .Params.showComments false) }}
{{ partial "comment-disqusjs.html" . }}
{{ else if and (.Site.Params.disqusShortname) (ne .Params.showComments false) }}
{{ partial "comment-disqus.html" . }}
{{ else if and (.Site.Params.utterancesRepo) (ne .Params.showComments false) }}
{{ partial "comment-utterances.html" . }}
{{ else }}{{ end }}
{{ end }}
