<!DOCTYPE html>
<html lang="{{ .Site.Language }}">
	<head>
		<title>{{ if not .IsHome }}{{ .Title | title }} | {{ end }}{{ .Site.Title }}</title>
		<link rel="canonical" href="{{ .Site.BaseURL }}">
		<!--<link rel="stylesheet" href="https://raw.githubusercontent.com/ryanoasis/nerd-fonts/master/css/nerd-fonts-generated.css">-->
		<link rel="stylesheet" href="/css/nerd-fonts-generated.css">
		{{ $templateStyle := resources.Get "css/style.css" }}
		{{ $style := $templateStyle | resources.ExecuteAsTemplate "css/style.css" . }}
		<link rel="stylesheet" href="{{ $style.Permalink }}">
		{{ if not .IsHome }}
		{{ $templateTable := resources.Get "css/table.css" }}
		{{ $table := $templateTable | resources.ExecuteAsTemplate "css/table.css" . }}
		<link rel="stylesheet" href="{{ $table.Permalink }}">
		{{ end }}
		{{ $templateHeadings := resources.Get "css/headings.css" }}
		{{ $headings := $templateHeadings | resources.ExecuteAsTemplate "css/headings.css" . }}
		<link rel="stylesheet" href="{{ $headings.Permalink }}">
		{{ with .Site.Params.favicon }}<link rel="icon" href="{{ . }}">
		{{ end -}}
		<meta name="description" content="{{ with .Params.description }}{{ . }}{{ else }}{{ .Summary }}{{ end }}">
		{{ if isset .Params "tags" }}<meta name="keywords" content="{{ with .Params.tags }}{{ delimit . ", " }}{{ end }}">
		{{ end -}}
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="robots" content="index, follow">
		<meta charset="utf-8">
	</head>
	<body>
		<div id="container">
			{{ if .Site.Menus }}
			<div id="leftbar">
				{{ if .Site.Menus.pages }}
				<h2>Pages</h2>
				<nav>
					<ul>
						<li><a href="/">Home</a></li>
						{{ range.Site.Menus.pages }}
						<li><a href="{{ .URL }}">{{ .Name }}</a></li>
						{{- end }}
					</ul>
				</nav>
				{{ end }}
				{{ if .Site.Menus.links }}
				<h2>Links</h2>
				<nav>
					<ul>
						{{ range.Site.Menus.links }}
						<li><a href="{{ .URL }}">{{ .Name }}</a></li>
						{{- end }}
					</ul>
				</nav>
				{{ end }}
			</div>
			{{ end }}
			<div id="main">
				{{ if .IsHome }}
				<h1 style="border-bottom: none;">{{ .Site.Title }}</h1>
				{{ else }}
				<h1 style="border-bottom: none;" id="tag_{{ .Title }}">{{ block "title" . }}{{ end }}</h1>
				{{ block "above" . }}{{ end }}
				{{ end }}
				<article>
					<div id="nav">
						{{ if .Site.Menus.pages }}
						<div id="links">
							<div style="display: inline-block;">
								<h2>Pages:</h2>
							</div>
							{{ range $i, $v := .Site.Menus.pages -}}
							{{- if $i -}}, {{ end -}}
							<a href="{{ .URL }}">{{ .Name }}</a>
							{{- end -}}
							<br>
							{{ end }}

							{{ if .Site.Menus.links }}
							<div style="display: inline-block;">
								<h2>Links:</h2>
							</div>
							{{ range $i, $v := .Site.Menus.links -}}
							{{- if $i -}}, {{ end -}}
							<a href="{{ .URL }}">{{ .Name }}</a>
							{{- end -}}
							{{ end }}
						</div>
						<div id="toc">
							{{ if .TableOfContents }}
							<details>
								<summary>
									<div style="display: inline-block;">
										<h2>Contents</h2>
									</div>
								</summary>
								{{ .TableOfContents }}
							</details>
							{{ end }}
						</div>
					</div>
					{{ block "main" . }}
					{{ .Content }}
					{{ end }}
				</article>
				{{ if .Site.Params.Name }}
				{{ block "footer" . }}
				<footer>
					Copyright © 2022 {{ .Site.Params.Name }}. All Rights Reserved.
				</footer>
				{{ end }}
				{{ end }}
			</div>
			<div id="rightbar">
				{{ if .TableOfContents }}
				<h2>Contents</h2>
				{{ .TableOfContents }}
				{{ end }}
			</div>
		</div>
	</body>
	{{ if (findRE "<pre" .Content 1) }}
	{{ $templateClipboardjs := resources.Get "js/clipboard.js" }}
	{{ $clipboardjs := $templateClipboardjs | resources.ExecuteAsTemplate "js/clipboard.js" . }}
	<script src="{{ $clipboardjs.Permalink }}"></script>
	{{ $templateClipboard := resources.Get "css/clipboard.css" }}
	{{ $clipboard := $templateClipboard | resources.ExecuteAsTemplate "css/clipboard.css" . }}
	<link rel="stylesheet" href="{{ $clipboard.Permalink }}">
	{{ end }}
</html>
