{{ define "title" -}}
{{ .Title | title }}
{{- end }}
{{ define "main" -}}
{{ .Content }}
{{ if .IsHome }}
<!--<details>-->
<!--	<summary><big><b>Articles</b></big></summary>-->
<!--	{{- range (where .Site.RegularPages "Type" "in" .Site.Params.mainSections | first 5) }}-->
<!--	<details>-->
<!--		<summary>-->
<!--			{{ .Title }}-->
<!--			<span style="float: right;">{{ .Date.Format "January 2, 2006" }}</span>-->
<!--		</summary>-->
<!--		<p>-->
<!--			{{ .Summary }}-->
<!--		</p>-->
<!--	</details>-->
<!--	{{ end }}-->
<!--</details>-->
{{ else }}
<table id="list">
	<thead>
		<tr>
			<th>Date</th>
			<th>Title</th>
		</tr>
	</thead>
	{{- range.Pages }}
	<tr>
		<td><time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time></td>
		<td><a href="{{ .RelPermalink }}">{{ .Title }}</a></td>
		{{- if .Param "authorsinlist" }}
		{{- range .Param "authors" }} by {{ . }}{{ end -}}
		{{ end -}}
	</tr>
	{{- end }}
</table>
{{ end }}
{{- end }}
