#list td:nth-child(1) {
	white-space: nowrap;
}

/*#list ul {*/
/*	list-style-type: none;*/
/*}*/
/**/
/*#list li:before {*/
/*	content: "- ";*/
/*}*/

pre {
	overflow: auto;
	background-color: #2E3440;
}

pre code {
	color: #D8DEE9;
}

img {
	max-width: 100%;
}

a {
	font-family: monospace;
	color: black;
	text-decoration: none;
}

header a, #rightbar a {
	font-family: unset;
}

body {
	font-family: serif;
	background-color: #E0D3AF;
}

header h1 {
	text-align: center;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

footer {
	text-align: center;
	margin-top: 1em;
}

code {
	color: black;
}

#container {
	margin: auto;
	display: table;
}

#leftbar, #rightbar {
	top: 0;
	position: sticky;
}

#leftbar {
	margin-right: 1em;
	padding-right: 1em;
	float: left;
	text-align: right;
	width: 1in;
}

#rightbar {
	margin-left: 1em;
	padding-left: 1em;
	float: left;
	width: 3in;
}

#leftbar h2, #rightbar h2 {
	margin-bottom: 0;
}

#leftbar ul, #leftbar ol, #rightbar ul, #rightbar ol {
	list-style-type: none;
}

#rightbar li {
	margin-top: 0.5em;
}

#leftbar ul, #leftbar ol {
	padding-left: 0;
}

#rightbar ul, #rightbar ol {
	padding-left: 0.5em;
}

#main {
	width: 80ch;
	float: left;
}

@media screen and (max-width: calc(80ch + 4in + 4em)) {
	#leftbar {
		display: none;
	}
}

@media screen and (max-width: calc(80ch + 3in + 2em)) {
	#leftbar, #rightbar {
		display: none;
	}
	#main {
		float: none;
		width: unset;
		max-width: 88ch;
		margin: auto;
	}
}
